@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	transition: 0.1s all;
}

html, body
{
	min-width: 320px;
}

body
{
	display: flex;
	flex-flow: column nowrap;
}

html
{
	height: 100%;
} 

body
{
	min-height: 100%;
}

html, body, .content
{
	width: 100%;
}

body, input, a, button
{
	font-family: "Play", sans-serif;
}

.content
{
	max-width: 1440px;
	margin: 0 auto;
}

a
{
	display: block;

	cursor: pointer;
	text-decoration: none;
}

ul
{
	list-style-type: none;
}

img
{
	object-fit: cover;
}

header > nav
{
	background-image: linear-gradient(to right, #F83600 0%, #F9D423 100%);
}

header > nav > .content
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: flex-end;

	padding: 0 50px;
}

header > nav h1
{
	margin-right: auto;

	text-shadow: 1px 1px 0 white;

	filter: invert(1);
}

header > nav a
{
	font-size: 18px;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	min-height: 50px;
	padding: 0px 25px;

	transition: 0.6s all;
	text-transform: uppercase;

	color: #FFFFFF;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

header > nav a:hover
{
	background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px)
{
	header > nav h1
	{
		font-size: 10vw;

		margin: 15px 0;
		margin-right: 0;
	}
	header > nav > .content
	{
		flex-flow: column nowrap;

		padding: 0;
	}
	header > nav h1, header > nav a
	{
		width: 100%;

		text-align: center;
	}
}
